.pagination {

}

.pagination a {
    text-decoration: none;
	color: #aab2bd;
}

.pagination a, .pagination span {
    color: #aab2bd;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    float: left;
}

.pagination .current {
    background: #00bafe;
    color: #FFFFFF;
    border-radius: 4px;
}

.pagination .prev, .pagination .next{
    width: 50px;
	color: #FFFFFF;
	background: #b6bdc6;
    border-radius: 4px;
}

.pagination .prev{
    margin-right: 10px;
}

.pagination .next{
    margin-left: 10px;
}
