@charset "UTF-8";
.content {width: 100%; min-width: 1000px; margin: 0 auto; padding-bottom: 130px;}
.content .broadcast {height: auto; max-height: 528px;}
.content .broadcast .slides {height: auto; max-height: 528px;}
.content .broadcast .slides a.slide_img {height: 500px; overflow: hidden; background-size: cover; background-position: center center; margin-bottom: 50px; position: relative; display: block;}
.content .broadcast .slides .slidesjs-pagination {margin: 0 auto; padding: 0; width: 800px; height: 28px; list-style: none; text-align: center;}
.content .broadcast .slides .slidesjs-pagination li {display: inline-block; width: 12px; height: 12px; margin: 15px 4px 1px 4px;}
.content .broadcast .slides .slidesjs-pagination li a {display: block; width: 12px; height: 12px; float: left; overflow: hidden; color: #e6e9ed; border-radius: 6px; background: #e6e9ed;}
.content .broadcast .slides .slidesjs-pagination li a.active,
.content .broadcast .slides .slidesjs-pagination li a:hover.active {background: #00bafe; color: #00bafe;}
.content .broadcast .slides .slidesjs-pagination li a:hover {background: #00bafe; color: #00bafe;}

.content .hot_act {width: 1000px; margin: 30px auto 0 auto;}
.content .hot_act .title_line {height: 30px;}
.content .hot_act .title_line .title {background: url(../images/h-spr.png) 0 0; width: 85px; height: 22px; float: left; margin: 4px 12px 4px 0;}
.content .hot_act .title_line span {height: 16px; line-height: 16px; color: #c1c7cf; display: block; font-size: 14px; margin: 9px 0 5px 0; float: left; border-left: dotted 1px #c1c7cf; padding-left: 12px;}
.content .hot_act .title_line .more {background: url(../images/spr.png) 0 0; width: 70px; height: 30px; float: right;}
.content .hot_act .title_line .more:hover {background-position: -74px 0;}
.content .hot_act .act_block {width: 1000px; height: 270px; margin: 22px 0 0 0;}
.content .hot_act .act_block .block {width: 250px; height: 270px; float: left;}
.content .hot_act .act_block .block a {width: 250px; height: 270px; display: block; text-decoration: none;}
.content .hot_act .act_block .block a div.time {width: 250px; height: 82px;}
.content .hot_act .act_block .block a div.time div.year {background: url(../images/year.png); width: 100px; height: 43px; display: inline-block; margin: 30px 0 0 55px;}
.content .hot_act .act_block .block a div.time div.date {width: auto; height: 43px; display: inline-block; margin: 35px 0 0 55px; font-size: 35px;}
.content .hot_act .act_block .block a div.time div.date_color_1 {color: #ffd2a1;}
.content .hot_act .act_block .block a div.time div.date_color_2 {color: #95a8c7;}
.content .hot_act .act_block .block a div.time div.year_bkg_1 {background-position: 0 0;}
.content .hot_act .act_block .block a div.time div.year_bkg_2 {background-position: 0 -49px;}
.content .hot_act .act_block .block a div.time span.issue {width: auto; height: 16px; margin-left: -10px; font-size: 16px;}
.content .hot_act .act_block .block a div.time span.issue_color_1 {color: #ade9ff;}
.content .hot_act .act_block .block a div.time span.issue_color_2 {color: #717c8d;}
.content .hot_act .act_block .block a div.time span.city {width: auto; height: 16px; font-size: 14px;}
.content .hot_act .act_block .block a div.time span.city_color_1 {color: #ffd2a1;}
.content .hot_act .act_block .block a div.time span.city_color_2 {color: #95a8c7;}

.content .hot_act .act_block .block a div.kind {width: 136px; height: 46px; margin: 0 55px; font-size: 16px; line-height: 46px;text-align: center; font-weight: bold;}
.content .hot_act .act_block .block a div.kind_color_1 {border: solid 2px #ade9ff; color: #ade9ff;}
.content .hot_act .act_block .block a div.kind_color_2 {border: solid 2px #717c8d; color: #717c8d;}
.content .hot_act .act_block .block a div.kind_color_3 {border: solid 2px #ffd2a1; color: #ffd2a1;}
.content .hot_act .act_block .block a div.kind_color_4 {border: solid 2px #95a8c7; color: #95a8c7;}

.content .hot_act .act_block .block a div.title {width: 140px; margin: 50px 55px 0 55px; color: #FFFFFF;}
.content .hot_act .act_block .block a div.title span {display: inline-block;}
.content .hot_act .act_block .block a div.title span.text {font-size: 14px; height: 30px; line-height: 30px; width: 140px; text-align: center; margin-top: -36px;}
.content .hot_act .act_block .block a div.title span.comma {font-size: 60px;line-height: 15px;}
.content .hot_act .act_block .block a div.title span.comma_color_1 {color: #ade9ff;}
.content .hot_act .act_block .block a div.title span.comma_color_2 {color: #717c8d;}
.content .hot_act .act_block .block a div.title span.comma_color_3 {color: #ffd2a1;}
.content .hot_act .act_block .block a div.title span.comma_color_4 {color: #95a8c7;}

.content .hot_act .act_block .block a div.title span.left {float: left;}
.content .hot_act .act_block .block a div.title span.right {float: right; margin-top: -2px;}

.content .founder_say {width: 1000px; margin: 45px auto 0 auto;}
.content .founder_say .title_line {height: 30px;}
.content .founder_say .title_line .title {background: url(../images/h-spr.png) 0 -23px; width: 85px; height: 22px; float: left; margin: 4px 12px 4px 0;}
.content .founder_say .title_line span {height: 16px; line-height: 16px; color: #c1c7cf; display: block; font-size: 14px; margin: 9px 0 5px 0; float: left; border-left: dotted 1px #c1c7cf; padding-left: 12px;}
.content .founder_say .title_line .more {background: url(../images/spr.png) 0 0; width: 70px; height: 30px; float: right;}
.content .founder_say .title_line .more:hover {background-position: -74px 0;}

.content .founder_say .say_block {width: 1000px; height: 400px; margin: 22px 0 0 0; cursor: pointer;}
.content .founder_say .say_block a.title_bkg {background: url(../images/f5.png) 0 -129px repeat-x; width: 500px; height: 86px;position: relative; margin-top: -86px; text-decoration: none; display: block;}
.content .founder_say .say_block a.title_bkg:hover {background: url(../images/f6.png) 0 -114px repeat-x;}
.content .founder_say .say_block a.title_bkg_hover {background: url(../images/f6.png) 0 -114px repeat-x;}

.content .founder_say .say_block a.title_bkg_short {background: url(../images/f5.png) 0 -129px repeat-x; width: 250px; height: 86px;position: relative; margin-top: -86px; display: block;}
.content .founder_say .say_block a.title_bkg_short:hover {background: url(../images/f6.png) 0 -114px repeat-x;}
.content .founder_say .say_block a.title_bkg_short_hover {background: url(../images/f6.png) 0 -114px repeat-x;}

.content .founder_say .say_block a.title_bkg span,
.content .founder_say .say_block a.title_bkg_short span {font-size: 14px; color: #FFFFFF; line-height: 30px; margin: 46px 0 0 20px; width: auto; height: 30px; display: inline-block;}

.content .founder_say .say_block .block {}
.content .founder_say .say_block .block a.say {}
.content .founder_say .say_block .block_1 {width: 500px; height: 400px; float: left;}
.content .founder_say .say_block .block_1 a.say_1 {width: 500px; height: 400px; display: block; text-decoration: none;}

.content .founder_say .say_block .block_2 {width: 500px; height: 200px; float: left;}
.content .founder_say .say_block .block_2 a.say_2 {width: 500px; height: 200px; display: block; text-decoration: none;}

.content .founder_say .say_block .block_3 {width: 250px; height: 200px; float: left;}
.content .founder_say .say_block .block_3 a.say_3 {width: 250px; height: 200px; display: block; text-decoration: none;}

.content .founder_say .say_block .block_4 {width: 250px; height: 200px; float: left;}
.content .founder_say .say_block .block_4 a.say_4 {width: 250px; height: 200px; display: block; text-decoration: none;}

.content .geek_sound {width: 1000px; margin: 45px auto 0 auto;}
.content .geek_sound .title_line {height: 30px;}
.content .geek_sound .title_line .title {background: url(../images/h-spr.png) 0 -46px; width: 85px; height: 22px; float: left; margin: 4px 12px 4px 0;}
.content .geek_sound .title_line span {height: 16px; line-height: 16px; color: #c1c7cf; display: block; font-size: 14px; margin: 9px 0 5px 0; float: left; border-left: dotted 1px #c1c7cf; padding-left: 12px;}
.content .geek_sound .title_line .more {background: url(../images/spr.png) 0 0; width: 70px; height: 30px; float: right;}
.content .geek_sound .title_line .more:hover {background-position: -74px 0;}

.content .geek_sound .list {width: 1000px; margin: 0;}
.content .geek_sound .list ul {width: 1000px; margin: 0; padding: 0; list-style: none;}
.content .geek_sound .list ul li {width: 1000px; border-bottom: dashed 1px #ccd1d9;}
.content .geek_sound .list ul li div.detail {width: 1000px; height: 180px; margin: 20px 0;}
.content .geek_sound .list ul li div.detail a.image {width: 250px; height: 180px; display: block; float: left;}
.content .geek_sound .list ul li div.detail a.image img {width: 250px; height: 180px; display: block; float: left;}
.content .geek_sound .list ul li div.detail div.main {margin-left: 30px; width: 720px; float: left; height: 180px;}
.content .geek_sound .list ul li div.detail div.main .top {width: 720px; height: 30px;}
.content .geek_sound .list ul li div.detail div.main .top a.title {width: auto; height: 30px; line-height: 30px; font-size: 22px; color: #434a54; text-decoration: none; display: block; float: left;}
.content .geek_sound .list ul li div.detail div.main .top div.label {font-size: 14px; width: auto; float: right;}
.content .geek_sound .list ul li div.detail div.main .top div.label span.type {margin-right: 10px;}
.content .geek_sound .list ul li div.detail div.main .top div.label span.type_color_1 {color: #ffaf3f;}
.content .geek_sound .list ul li div.detail div.main .top div.label span.type_color_2 {color: #a0d468;}
.content .geek_sound .list ul li div.detail div.main .top div.label span.type_color_3 {color: #fc6e51;}
.content .geek_sound .list ul li div.detail div.main .top div.label span.type_color_4 {color: #48cfad;}
.content .geek_sound .list ul li div.detail div.main .top div.label span.type_color_5 {color: #4fc1e9;}
.content .geek_sound .list ul li div.detail div.main .top div.label span.date {border-left: solid 1px #e6e9ed; color: #c1c7cf; padding-left: 10px;}
.content .geek_sound .list ul li div.detail div.main .text {width: 720px; height: 58px; line-height: 28px; font-size: 16px; color: #656d78; margin: 30px 0; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.content .geek_sound .list ul li div.detail div.main .author {width: 720px; height: 32px;}
.content .geek_sound .list ul li div.detail div.main .author img {width: 32px; height: 32px; border-radius: 8px; float: left;}
.content .geek_sound .list ul li div.detail div.main .author span {width: auto; height: 32px; line-height: 32px; font-size: 14px; color: #c1c7cf; display: block; float: left; margin-left: 10px;}

.content .geek_sound .load_more {width: 1000px; margin: 0; height: 100px; text-align: center;}
.content .geek_sound .load_more a {display: block; width: 1000px; height: 100px; font-size: 16px; color: #434a54; line-height: 100px; text-decoration: none;}
